
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link rel="stylesheet" href="../css/gallery.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <body>
    <div class="page1">
      <header>
        <div class="container">
          <div class="logo">
            <img src="../images/gallery img/Munchkins-removebg-preview.png"alt="Kidie Logo">
          </div>
          <section>
            <nav class="effect">
              <ul>
                <li>
                  <span><a href="/">Home</a></span>
                </li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/admission">Admission</a></li>
                <li><a href="/franchise">Franchise</a></li>
                <!-- <li><a href="#">Fun Learning</a></li> -->
                <li><a href="/contact">Contact Us</a></li>
              </ul>
            </nav>
          </section>
        </div>
      </header>
       <section class="heading">
          <div class="text-overlay">
           <img src="../images/gallery img/Add_a_headingsdvdfb-removebg-preview.png">
           <p>Curious minds, happy hearts. Our photo gallery captures the essence of preschool life. Join us on a visual journey of exploration and fun..</p>
          </div>
        </section>
        
    </div>


    <section class="gallery-content">
      <div class="text-content">
        <h1>Gallery</h1>
          <h2>Friends, fun, learning..</h2><br><br>
          <p>Step into a world of childhood wonder with our photo gallery! Capture the essence of innocent joy as you browse through heartwarming images of children engaged in playful activities, exploring their creativity, and forging lasting friendships. From classroom adventures to outdoor escapades, our photos offer a glimpse into the vibrant and nurturing environment where young minds flourish.</p>
          <button class="visit-button">Enroll Now</button>
      </div>
      <div class="image-content">
          <img src="../images/gallery img/page 2.jpg" alt="Child playing with teddy bear">
      </div>
  </section>
 
 




    <main class="page2"></main>
    <div class="gallery">
      <div class="gallery-item"><img src="../images/gallery img/g1.webp" alt="Image 1"></div>
      <div class="gallery-item"><img src="../images/gallery img/g2.jpg" alt="Image 2"></div>
      <div class="gallery-item"><img src="../images/gallery img/g3.webp" alt="Image 3"></div>
      <div class="gallery-item"><img src="../images/gallery img/g4.webp" alt="Image 4"></div>
      <div class="gallery-item"><img src="../images/gallery img/g5.webp" alt="Image 5"></div>
      <div class="gallery-item"><img src="../images/gallery img/g6.webp" alt="Image 6"></div>
      <div class="gallery-item"><img src="../images/gallery img/g7.jpg" alt="Image 7"></div>
      <div class="gallery-item"><img src="../images/gallery img/g9.avif" alt="Image 8"></div>
      <div class="gallery-item"><img src="../images/gallery img/g9.avif" alt="Image 9"></div>
      <div class="gallery-item"><img src="../images/gallery img/g10.avif" alt="Image 10"></div>
      <div class="gallery-item"><img src="../images/gallery img/g11.webp" alt="Image 11"></div>
      <div class="gallery-item"><img src="../images/gallery img/g12.webp" alt="Image 12"></div>
      <div class="gallery-item"><img src="../images/gallery img/g13.jpg" alt="Image 13"></div>
      <div class="gallery-item"><img src="../images/gallery img/g14.jpg" alt="Image 14"></div>
      <div class="gallery-item"><img src="../images/gallery img/g15.jpg" alt="Image 15"></div>
      <div class="gallery-item"><img src="../images/gallery img/g16.jpg" alt="Image 16"></div>
  
  </div>
</main>



 <!-- page awards -->

 <section class="award">
  <div class="content5">
    <h1>Awards &<span> Achievements</span></h1>
    <br />
  </div>
  <div class="container5">
    <div class="certificate active">
      <!-- <img src="https://irisflorets.com/wp-content/uploads/2023/12/98e5c6b4-fed9-479f-ac94-1195f21d7be9.jpg" alt="Best Preschool Award 2024"> -->
      <img src="https://indiaeducationdiary.in/wp-content/uploads/2022/03/Jalahalli-principal.jpg" alt="Best Preschool Award 2024" height="80%">

      <h2>Best Preschool Award 2024</h2>
      <p>
        We are honored to be recognized as the best preschool in the region
        for our outstanding commitment to early childhood education and
        development.
      </p>
    </div>
    <div class="certificate">
      <img src="https://khaitanpreschool.org/wp-content/uploads/2019/12/Award-Banner-1170x730.jpg"alt="Excellence in Curriculum Development">

      <h2>Excellence in Curriculum Development</h2>
      <p>
        Our innovative curriculum has been acknowledged for its
        effectiveness in nurturing young minds and preparing them for future
        academic success.
      </p>
    </div>
    <div class="certificate">
      <img src="https://iearecords.com/wp-content/uploads/2021/01/NILAMBARI-KAMBLE-recieves-IEA-MOMENTOS-through-DR-SANDEEP-SINGH-in-the-presence-of-ACP-ASHOK-SINGH-CHAUHAN-and-ACP-ARCHANA-KO11-1024x683.jpg"alt="Community Service Award">
      <h2>Community Service Award</h2>
      <p>
        Recognized for our active involvement and contribution to community
        service initiatives.
      </p>
    </div>
    <div class="certificate">
      <img src="https://nagpurtoday.in/wp-content/uploads/2013/12/IMG_8361-600x400.jpg"alt="Innovative Teaching Methods Award">
      <h2>Innovative Teaching Methods Award</h2>
      <p>
        Acknowledged for our creative and effective teaching methods that
        engage and inspire students.
      </p>
    </div>
  </div>
</section>
 <!-- footer -->
 <section class="footer">
  <div class="box-container">
    <div class="box">
      <h3><i class="fas fa-school"></i> Preschool</h3>
      <p>
        At Munchkins Preschool, play is<br>
         the way! We believe in the power of<br>
         exploration to ignite creativity and<br>
          a lifelong love of learning.Our <br>
          experienced teachers guide young<br>
           minds through a nurturing and <br>
           stimulating environment.
      </p>
    </div>

    <div class="box">
      <h3>Quick Links</h3>
      <a href="/admission"><i class="fas fa-caret-right"></i> Enroll now</a>
      <a href="#"><i class="fas fa-caret-right"></i>Parent Portal</a>
      <a href="#"> <i class="fas fa-caret-right"></i> School Calender</a>
      <a href="#"> <i class="fas fa-caret-right"></i> Lunch Menu</a>
      <a href="#"> <i class="fas fa-caret-right"></i> School Supply List</a>
    </div>

    <div class="box">
      <h3>Category</h3>
      <a href="/"> <i class="fas fa-caret-right"></i> Home</a>
      <a href="/aboutus"> <i class="fas fa-caret-right"></i> About Us</a>
      <a href="/admission"> <i class="fas fa-caret-right"></i> Admission</a>
      <a href="/franchise"> <i class="fas fa-caret-right"></i>Frainchise</a>
      <a href="/gallery"> <i class="fas fa-caret-right"></i> Gallery</a>
      <a href="/contact"> <i class="fas fa-caret-right"></i> Contact Us</a>
    </div>

    <div class="box">
      <h3>Extra Links</h3>
      <a href="#"> <i class="fas fa-caret-right"></i> Privacy Policy</a>
      <a href="#"> <i class="fas fa-caret-right"></i> Terms of Use</a>
      <a href="/contact"> <i class="fas fa-caret-right"></i> Site Map</a>
      <a href="/contact"> <i class="fas fa-caret-right"></i> FAQs</a>
      <a href="#"><i class="fas fa-caret-right"></i> Accessibility Statement</a>
    </div>
  </div>

  <div class="credit">&copy; copyright @ 2024 by <span>chat</span></div>
</section>

<script src="../scripts/gallery.js"></script>
  </body>
</html>
