<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="page1">
      <header>
        <div class="container">
          <div class="logo">
            <img src="../images/home img/Munchkins-removebg-preview.png" alt="Kidie Logo" />
          </div>
          <section>
            <nav class="effect">
              <ul>
                <li>
                  <span><a href="/">Home</a></span>
                </li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/admission">Admission</a></li>
                <li><a href="/franchise">Franchise</a></li>
                <li><a href="/contact">Contact Us</a></li>
              </ul>
            </nav>
          </section>
        </div>
      </header>
      <div class="content">
        <div class="text-content">
          <h2>PLAY.<span class="color-text"> LEARN.</span> GROW.</h2>
          <h1>
            MAKE A BRIGHTER FUTURE<span class="color-text2">
              FOR YOUR CHILD</span
            >
          </h1>
          <p>
            Curious minds take flight at Little Munchkins Preschool! Our
            classrooms buzz with laughter and creativity as little ones explore,
            discover, and grow.
          </p>
          <div class="buttons">
            <a href="/admission" class="btn learn-more">Enroll Now</a>
            <a href="/franchise" class="btn our-classes">Franchise</a>
          </div>
        </div>
      </div>
    </div>

    <!-- page2 -->
    <div class="page2">
      <main>
        <section class="about">
          <div class="about-image">
            <img src="../images/home img/page222.png" alt="About Image" />
          </div>
          <div class="about-content">
            <h2>MUNCHKINS</h2>
            <h3>ABOUT US</h3>
            <p>
              At our preschool, we watch little minds blossom! We provide a
              joyful space filled with songs, stories, and exploration. Here,
              your child will make new friends, discover new things, and get
              ready for exciting adventures in learning!.
            </p>
            <div class="features">
              <div class="feature">
                <img
                  src="../images/home img/badge-removebg-preview.png"
                  alt="Experienced teachers icon"
                  height="80px"
                />
                <p>
                  <strong>Experienced teachers:</strong> <br /><span
                    >Our experienced preschool teachers bring a wealth of
                    knowledge and a warm approach to the classroom. With years
                    of experience under their belts, they've mastered the art of
                    engaging young minds.</span
                  >
                </p>
              </div>
              <div class="feature">
                <img
                  src="../images/home img/professor-removebg-preview.png"
                  alt="Unique approach icon"
                />
                <p>
                  <strong>Unique approach:</strong> <br /><span
                    >Our preschool takes a unique approach to learning! We go
                    beyond traditional methods, incorporating [mention a
                    specific element of your unique approach, to spark curiosity
                    and ignite a lifelong love of learning. This fosters in our
                    young learners.</span
                  >
                </p>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>

    
    
      
     <!-- page 4 -->
     <div class="page4">
      <main>
        <section class="school-facilities">
          <h1>SCHOOL FACILITIES</h1>
          <p>
            Preschools, unlike elementary schools, likely won't have a school
            bus due to younger students' needs. However, they'll still offer
            exciting features!<br />
            Expect bright classrooms, a healthy canteen, and a fun playground,
            all designed to nurture your child's development.
          </p>
          <div class="facilities">
            <div class="facility">
              <img
                src="../images/home img/bus-removebg-preview.png"
                alt="Bus Icon"
                class="icon"
              />
              <h2>School Bus</h2>
              <p>
                The preschool provides a school bus for convenient
                transportation of the children.
              </p>
            </div>
            <div class="facility">
              <img
                src="../images/home img/ball-removebg-preview (1).png"
                alt="Bus Icon"
                class="icon"
              />
              <h2>Playground</h2>
              <p>
                The preschool has a playground where students can play and
                explore.
              </p>
            </div>
            <div class="facility">
              <img
                src="../images/home img/can-removebg-preview.png"
                alt="Bus Icon"
                class="icon"
              />
              <h2>Healthy Canteen</h2>
              <p>
                Hungry students can refuel at the school canteen during
                lunchtime.
              </p>
            </div>
            <div class="facility">
              <img src="../images/home img/learning.png" alt="Bus Icon" class="icon" />
              <h2>Positive Learning</h2>
              <p>
                A digital room allows schools to bring interactive learning
                experiences to students.
              </p>
            </div>
          </div>
        </section>
      </main>
    </div> 

    <!-- page 5 -->

    <main class="page5">
      <div class="photos">
        <h2>GALLERY</h2>
        <h1>OUR PHOTOS</h1>
        <br /><br />
         <br>
        <div class="slider">
          <div class="slides">
            <div class="divv">
              <div class="boxs">
                <img src="../images/home img/pag5(1).jpg" alt="image1" />
              </div>
            </div>
            <div class="divv">
              <div class="boxs">
                <img src="../images/home img/page5(2).jpg" alt="image2" />
              </div>
            </div>
            <div class="divv">
              <div class="boxs">
                <img src="../images/home img/page5(3).jpg" alt="image3" />
              </div>
            </div>
            <div class="divv">
              <div class="boxs">
                <img src="../images/home img/page5(4).jpg" alt="image4" />
              </div>
            </div>
            <div class="divv">
              <div class="boxs">
                <img src="../images/home img/page5(5).jpg" alt="image5" />
              </div>
            </div>
            <div class="divv">
              <div class="boxs">
                <img src="../images/home img/page5(6).jpg" alt="image6" />
              </div>
            </div>
            <div class="divv">
              <div class="boxs">
                <img src="../images/home img/page5(7).jpg" alt="image7" />
              </div>
            </div>
            <div class="divv">
              <div class="boxs">
                <img src="../images/home img/pag5(1).jpg" alt="image8" />
              </div>
            </div>
            <div class="divv">
              <div class="boxs">
                <img src="../images/home img/page5(2).jpg" alt="image9" />
              </div>
            </div>
            <div class="divv">
              <div class="boxs">
                <img src="../images/home img/page5(3).jpg" alt="image10" />
              </div>
            </div>
            <div class="divv">
              <div class="boxs">
                <img src="../images/home img/page5(4).jpg" alt="image11" />
              </div>
            </div>
            <div class="divv">
              <div class="boxs">
                <img src="../images/home img/page5(5).jpg" alt="image5" />
              </div>
            </div>
            <div class="divv">
              <div class="boxs">
                <img src="../images/home img/page5(6).jpg" alt="image6" />
              </div>
            </div>
            <div class="divv">
              <div class="boxs">
                <img src="../images/home img/page5(7).jpg" alt="image7" />
              </div>
            </div>
            <div class="divv">
              <div class="boxs">
                <img src="../images/home img/page5(1).jpg" alt="image8" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

     <!-- page6  -->
     <div class="page6">
        <main>
          <section class="carousel-section">
            <h1>WHAT PARENTS SAY</h1>
            <div class="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <p class="review-text">
                    We're thrilled with Munchkins school Our child positive
                    adjective describing child, e.g., enjoys/thrives the positive
                    aspect of school, e.g., engaging classes/supportive teachers
                    and has grown academically and socially.We highly recommend
                    this school to anyone looking for a positive quality of
                    school, e.g., nurturing/challenging environment for their
                    child.
                  </p>
                  <div class="review-author">
                    <img src="../images/home img/p2.jpg" alt="Parent 1" />
                    <p>Dawson Timms</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <p class="review-text">
                    Munchkins School has been a fantastic fit for our child. They
                    come home excited to share what they learned in mention a
                    subject they enjoy class, and their teacher, Teacher's name,
                    is approachable and truly cares about their students'
                    progress.We've also been impressed with the mention a specific
                    program or aspect, e.g., strong arts program/focus on outdoor
                    activities. Overall, this school has fostered child's positive
                    quality, e.g., a love of learning/a strong sense of community.
                  </p>
                  <div class="review-author">
                    <img src="../images/home img/p3.jpg" alt="Parent 2" />
                    <p>SMichele Bailey</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <p class="review-text">
                    We're delighted withMunchkins School! Child's name thrives in
                    the positive aspect of school, e.g., small class
                    sizes/creative curriculum. The teachers are passionate and
                    challenge him/her to grow, and Child's name has made wonderful
                    friendships.We've particularly been impressed with the mention
                    a specific program or aspect, e.g., robotics
                    club/individualized learning approach. This school has truly
                    nurtured child's positive quality, e.g., critical
                    thinking/curiosity.
                  </p>
                  <div class="review-author">
                    <img src="../images/home img/parent3.jpg" alt="Parent 3" />
                    <p>Philip Klein</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <p class="review-text">
                    Our experience at Munchkins School has been wonderful. Child's
                    name has flourished in the supportive environment. The
                    teachers are patient and dedicated, creating a love of
                    learning in the classroom. We've been particularly impressed
                    with the mention a specific program or aspect, e.g.,
                    after-school coding program/focus on social-emotional
                    learning. Overall, Munchkins school has helped Child's name
                    grow academically and develop a strong sense of self.
                  </p>
                  <div class="review-author">
                    <img src="../images/home img/p4.jpg" alt="Parent 4" />
                    <p>Lavkesh Katariya</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </main>
      </div>

      <!-- page 8 -->
    <main class="page8">
        <div class="header">
          <h6>EXPERT PEOPLE</h6>
          <h1>OUR TEACHERS</h1>
        </div>
  
        <div class="box">
          <div class="images">
            <div class="im1">
              <img src="../images/home img/page7(1).jpg" alt="img1" />
              <h4>Dawson Timms</h4>
              <h6>Preschool Principle</h6>
            </div>
            <div class="im1">
              <img src="../images/home img/page7(2).jpg" alt="img2" />
              <h4>Michele Bailey</h4>
              <h6>Preschool Director</h6>
            </div>
            <div class="im1">
              <img src="../images/home img/page7(3).jpg" alt="img3" />
              <h4>Philip Klein</h4>
              <h6>Company Director</h6>
            </div>
            <div class="im1">
              <img src="../images/home img/page7(4).jpg" alt="img3" />
              <h4>Brian Marsh</h4>
              <h6>Child Care Director</h6>
            </div>
          </div>
        </div>
      </main>


   <!-- page awards -->

 <section class="award">
  <div class="content5">
    <h1>Awards &<span> Achievements</span></h1>
    <br />
  </div>
  <div class="container5">
    <div class="certificate active">
      <!-- <img src="https://irisflorets.com/wp-content/uploads/2023/12/98e5c6b4-fed9-479f-ac94-1195f21d7be9.jpg" alt="Best Preschool Award 2024"> -->
      <img src="https://indiaeducationdiary.in/wp-content/uploads/2022/03/Jalahalli-principal.jpg" alt="Best Preschool Award 2024" height="80%">

      <h2>Best Preschool Award 2024</h2>
      <p>
        We are honored to be recognized as the best preschool in the region
        for our outstanding commitment to early childhood education and
        development.
      </p>
    </div>
    <div class="certificate">
      <img src="https://khaitanpreschool.org/wp-content/uploads/2019/12/Award-Banner-1170x730.jpg"alt="Excellence in Curriculum Development">

      <h2>Excellence in Curriculum Development</h2>
      <p>
        Our innovative curriculum has been acknowledged for its
        effectiveness in nurturing young minds and preparing them for future
        academic success.
      </p>
    </div>
    <div class="certificate">
      <img src="https://iearecords.com/wp-content/uploads/2021/01/NILAMBARI-KAMBLE-recieves-IEA-MOMENTOS-through-DR-SANDEEP-SINGH-in-the-presence-of-ACP-ASHOK-SINGH-CHAUHAN-and-ACP-ARCHANA-KO11-1024x683.jpg"alt="Community Service Award">
      <h2>Community Service Award</h2>
      <p>
        Recognized for our active involvement and contribution to community
        service initiatives.
      </p>
    </div>
    <div class="certificate">
      <img src="https://nagpurtoday.in/wp-content/uploads/2013/12/IMG_8361-600x400.jpg"alt="Innovative Teaching Methods Award">
      <h2>Innovative Teaching Methods Award</h2>
      <p>
        Acknowledged for our creative and effective teaching methods that
        engage and inspire students.
      </p>
    </div>
  </div>
</section>

    <!-- footer -->
 <section class="footer">
    <div class="box-container">
      <div class="box">
        <h3><i class="fas fa-school"></i> preschool</h3>
        <p>
          At Munchkins Preschool, play is<br>
           the way! We believe in the power of<br>
           exploration to ignite creativity and<br>
            a lifelong love of learning.Our <br>
            experienced teachers guide young<br>
             minds through a nurturing and <br>
             stimulating environment.
        </p>
      </div>
  
      <div class="box">
        <h3>Quick Links</h3>
        <a href="/admission"><i class="fas fa-caret-right"></i> Enroll now</a>
        <a href="#"><i class="fas fa-caret-right"></i>Parent Portal</a>
        <a href="#"> <i class="fas fa-caret-right"></i> School Calender</a>
        <a href="#"> <i class="fas fa-caret-right"></i> Lunch Menu</a>
        <a href="#"> <i class="fas fa-caret-right"></i> School Supply List</a>
      </div>
  
      <div class="box">
        <h3>Category</h3>
        <a href="/"> <i class="fas fa-caret-right"></i> Home</a>
        <a href="/aboutus"> <i class="fas fa-caret-right"></i> About Us</a>
        <a href="/admission"> <i class="fas fa-caret-right"></i> Admission</a>
        <a href="/gallery"> <i class="fas fa-caret-right"></i> Gallery</a>
        <a href="/contact"> <i class="fas fa-caret-right"></i> Contact Us</a>
      </div>
  
      <div class="box">
        <h3>Extra Links</h3>
        <a href="#"> <i class="fas fa-caret-right"></i> Privacy Policy</a>
        <a href="#"> <i class="fas fa-caret-right"></i> Terms of Use</a>
        <a href="/contact"> <i class="fas fa-caret-right"></i> Site Map</a>
        <a href="/contact"> <i class="fas fa-caret-right"></i> FAQs</a>
        <a href="#"><i class="fas fa-caret-right"></i> Accessibility Statement</a>
      </div>
    </div>
  
    <div class="credit">&copy; copyright @ 2024 by <span>chat</span></div>
  </section>
  
  <script src="../scripts/home.js"></script>
</body>
</html>